[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0

ExecStart=/usr/local/bin/etcd \
    --name={{ inventory_hostname }} \
    --data-dir=/var/lib/etcd \
    --listen-client-urls=http://{{hostvars[inventory_hostname]['node_ip']}}:2379 \
    --advertise-client-urls=http://{{hostvars[inventory_hostname]['node_ip']}}:2379 \
    --listen-peer-urls=http://{{hostvars[inventory_hostname]['node_ip']}}:2380 \
    --initial-advertise-peer-urls=http://{{hostvars[inventory_hostname]['node_ip']}}:2380 \
    --initial-cluster={{ etcd_cluster_endpoints }} \
    --initial-cluster-token={{ etcd_cluster_token }} \
    --initial-cluster-state=new

[Install]
WantedBy=multi-user.target
