---
- include_tasks: calico.yml
  when: kubernetes_cni_plugin == "calico"

- include_tasks: flannel.yml
  when: kubernetes_cni_plugin == "flannel"

- include_tasks: weavenet.yml
  when: kubernetes_cni_plugin == "weavenet"
  